solution/Workflows/ms-outlook-invite-office365-flow-importable-FFD937A7-C3FA-F011-8406-00224885F6FF.json
{
  "properties": {
    "connectionReferences": {
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "jtrbv_sharedoffice365_e66d0"
        },
        "api": {
          "name": "shared_office365"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        }
      },
      "triggers": {
        "When_a_new_email_arrives_(V3)": {
          "splitOn": "@triggerOutputs()?['body/value']",
          "metadata": {
            "Id::AAMkADNmMzk4NTBhLWY1YWYtNDcwMC1hMzY0LTc3MzRkYmMyZTA1MgAuAAAAAAAn4YegcsK8RLGp4bF1LkdDAQBsrr_0WlPPS45_whAiEEykAAAAAGyTAAA=": "AUTO-INVITE",
            "operationMetadataId": "f198961a-a89e-4ecb-b013-371dc1ae2818"
          },
          "type": "OpenApiConnectionNotification",
          "inputs": {
            "parameters": {
              "includeAttachments": false,
              "subjectFilter": "[AUTO-INVITE]",
              "importance": "Any",
              "fetchOnlyWithAttachment": false,
              "folderPath": "Inbox"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
              "operationId": "OnNewEmailV3",
              "connectionName": "shared_office365"
            }
          }
        }
      },
      "actions": {
        "Parse_JSON": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "96b4d585-6289-4b79-bfd6-12573891a39a"
          },
          "type": "ParseJson",
          "inputs": {
            "content": "@triggerOutputs()?['body/body']",
            "schema": {
              "type": "object",
              "properties": {
                "subject": {
                  "type": "string"
                },
                "attendees": {
                  "type": "string"
                },
                "location": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "host": {
                  "type": "string"
                },
                "projectKey": {
                  "type": "string"
                },
                "issueId": {
                  "type": "string"
                },
                "issueKey": {
                  "type": "string"
                },
                "boardNames": {
                  "type": "string"
                },
                "boardIds": {
                  "type": "string"
                },
                "boardName": {
                  "type": "string"
                }
              }
            }
          }
        },
        "Create_event_(V4)": {
          "runAfter": {
            "boardIds_do_not_contain_'|||'": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "277673f5-4f4b-431b-be8b-5e43d370b62f"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "table": "Calendar",
              "item/subject": "@body('Parse_JSON')['subject']",
              "item/start": "@utcNow()",
              "item/end": "@addHours(utcNow(), 1)",
              "item/timeZone": "(UTC+01:00) Brussels, Copenhagen, Madrid, Paris",
              "item/body": "<p class=\"editor-paragraph\">@{concat('<!DOCTYPE html> <html lang=\"en\"> <head> <meta charset=\"UTF-8\"> <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"> <title>New Meeting Event</title> </head> <body style=\"margin: 0; padding: 0; background-color: #ffffff; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; font-family: Arial, Helvetica, sans-serif;\"> <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-collapse: collapse; background-color: #ffffff;\"> <tr> <td align=\"center\" style=\"padding: 0;\"> <table width=\"650\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"width: 650px; border-collapse: collapse; background-color: #ffffff;\"> <tr> <td background=\"https://johantre.github.io/msoutlook-invite/images/volvo.png\" bgcolor=\"#ffffff\" width=\"650\" height=\"255\" valign=\"top\" style=\"background-repeat: no-repeat; background-position: top center; background-size: contain; padding: 20px 22px 0px 22px;\"> <div> <h1 style=\"margin: 0; font-family: Arial, sans-serif; font-size: 22pt; font-weight: bold; color: white;\"> New Meeting Event </h1> </div> </td> </tr> <tr> <td style=\"padding: 10px 22px 15px 22px;\"> <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-collapse: collapse; background-color: #f6f8fa; border: 1px solid #e1e4e8;\"> <tr> <td style=\"padding: 10px; font-family: Arial, sans-serif; font-size: 10pt; color: #000000;\"> <strong style=\"font-size: 10pt;\">Attendees: </strong><br> <code style=\"font-family: ''Courier New'', Courier, monospace;\">', body('Parse_JSON')?['attendees'], '</code> </td> </tr> </table> </td> </tr> <tr> <td style=\"padding: 10px 22px 20px 22px; font-family: Arial, sans-serif; font-size: 10pt; color: #000000; text-align: left;\"> Dear Attendees,<br><br> You are invited to this meeting.<br><br> <strong>Expectations for this session:</strong><br>No need for an upfront analysis, it kills the dialogue we desperately need you for. <br>Your expert knowledge and good mood should be sufficient.<br><br> Regards, your servant leader </td> </tr> <tr> <td style=\"padding: 15px 22px 40px 22px;\"> <table width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" border=\"0\" style=\"border-collapse: collapse; border-top: 1px solid #e1e4e8;\"> <colgroup> <col style=\"width: 120px;\"> <col style=\"width: auto;\"> </colgroup> <tr> <td style=\"vertical-align: top; padding-top: 15px; font-family: Arial, sans-serif;\"> <h3 style=\"margin: 0 0 5px 0; font-family: ''Arial Narrow'', Arial, sans-serif; font-size: 11pt; font-weight: bold; text-align: left; color: #000000;\"> Summary </h3> </td> <td style=\"vertical-align: top; padding-top: 15px; font-family: Arial, sans-serif;\"> <div style=\"text-align: left; 20px;\"> <p style=\"margin: 0; font-size: 10pt; color: #000000;\">', body('Parse_JSON')?['subject'], '</p> </div> </td> </tr> <tr> <td style=\"vertical-align: top; padding-top: 15px; font-family: Arial, sans-serif\"> <h3 style=\"margin: 0 0 5px 0; font-family: ''Arial Narrow'', Arial, sans-serif; font-size: 11pt; font-weight: bold; text-align: left; color: #000000;\"> Description </h3> </td> <td style=\"vertical-align: top; padding-top: 15px; font-family: Arial, sans-serif;\"> <div style=\"text-align: left; 20px;\"> <p style=\"margin: 0; font-size: 10pt; color: #000000;\">', body('Parse_JSON')?['description'], '</p> </div> </td> </tr> <tr> <td style=\"vertical-align: top; padding-top: 15px; font-family: Arial, sans-serif;\"> <h3 style=\"margin: 0 0 5px 0; font-family: ''Arial Narrow'', Arial, sans-serif; font-size: 11pt; font-weight: bold; text-align: left; color: #000000;\"> URL </h3> </td> <td style=\"vertical-align: top; padding-top: 15px; font-family: Arial, sans-serif;\"> <div style=\"text-align: left; 20px;\"> <p style=\"margin: 0; font-size: 10pt; color: #000000;\"><a href=', variables('boardURL'), '><img src=\"https://johantre.github.io/msoutlook-invite/images/atlassian.png\" alt=\"Jira\" width=\"14\" height=\"14\"style=\"vertical-align: middle; margin-right: 6px; border: 0;\"/>URL pre-selected Backlog</a></p> </div> </td> </tr> </table> </td> </tr> <tr> <td bgcolor=\"#a8c4bb\" style=\"padding: 25px 22px; background-color: #a8c4bb;\"> <h2 style=\"margin: 0 0 5px 0; font-family: ''Arial Narrow'', Arial, sans-serif; font-size: 18pt; font-weight: bold; color: #bc373a;\"> STAY TUNED </h2> <h2 style=\"margin: 0 0 15px 0; font-family: ''Arial Narrow'', Arial, sans-serif; font-size: 20pt; font-weight: bold; color: #000000;\"> VOLVO CARS IT. </h2> <p style=\"margin: 0; font-family: Arial, sans-serif; font-size: 10pt; color: #000000;\">Do you have questions? Contact us on <a href=\"mailto:ict.helpdesk@volvo.com\" style=\"color: #0066B1; text-decoration: underline;\">ict.helpdesk@volvo.com</a> or +32-9-000-0000.</p> </td> </tr> </table> </td> </tr> </table> </body> </html>')}</p>",
              "item/location": "@{body('Parse_JSON')?['location']} "
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
              "operationId": "V4CalendarPostItem",
              "connectionName": "shared_office365"
            }
          }
        },
        "boardIds_do_not_contain_'|||'": {
          "actions": {
            "boardURL_TeamMgt": {
              "type": "SetVariable",
              "inputs": {
                "name": "boardURL",
                "value": "@concat(body('Parse_JSON')?['host'], '/jira/software/projects/', body('Parse_JSON')?['projectKey'], '/boards/', body('Parse_JSON')?['boardIds'], '/backlog?epics=visible&jql=parent%20%3D%20', body('Parse_JSON')?['issueKey'], '&selectedIssue=', body('Parse_JSON')?['issueKey'])"
              }
            }
          },
          "runAfter": {
            "Initialize_variable_-_index": [
              "Succeeded"
            ]
          },
          "else": {
            "actions": {
              "Apply_to_each": {
                "foreach": "@outputs('Split_boardNames')",
                "actions": {
                  "Condition": {
                    "actions": {
                      "Set_foundBoardId": {
                        "type": "SetVariable",
                        "inputs": {
                          "name": "foundBoardId",
                          "value": "@outputs('Split_boardIds')[variables('index')]"
                        }
                      }
                    },
                    "else": {
                      "actions": {}
                    },
                    "expression": {
                      "and": [
                        {
                          "equals": [
                            "@items('Apply_to_each')",
                            "@body('Parse_JSON')?['boardName']"
                          ]
                        }
                      ]
                    },
                    "type": "If"
                  },
                  "Increment_variable": {
                    "runAfter": {
                      "Condition": [
                        "Succeeded"
                      ]
                    },
                    "type": "IncrementVariable",
                    "inputs": {
                      "name": "index",
                      "value": 1
                    }
                  }
                },
                "runAfter": {
                  "Split_boardIds": [
                    "Succeeded"
                  ]
                },
                "type": "Foreach"
              },
              "boardURL_EntMgt": {
                "runAfter": {
                  "Apply_to_each": [
                    "Succeeded"
                  ]
                },
                "type": "SetVariable",
                "inputs": {
                  "name": "boardURL",
                  "value": "@concat(body('Parse_JSON')?['host'], '/jira/software/c/projects/', body('Parse_JSON')?['projectKey'], '/boards/', variables('foundBoardId'), '/backlog?epics=visible&issueParent=', body('Parse_JSON')?['issueId'], '&selectedIssue=', body('Parse_JSON')?['issueKey'])"
                }
              },
              "Split_boardNames": {
                "type": "Compose",
                "inputs": "@split(body('Parse_JSON')?['boardNames'], '|||')"
              },
              "Split_boardIds": {
                "runAfter": {
                  "Split_boardNames": [
                    "Succeeded"
                  ]
                },
                "type": "Compose",
                "inputs": "@split(body('Parse_JSON')?['boardIds'], '|||')"
              }
            }
          },
          "expression": {
            "and": [
              {
                "not": {
                  "contains": [
                    "@body('Parse_JSON')?['boardIds']",
                    "|||"
                  ]
                }
              }
            ]
          },
          "type": "If"
        },
        "Initialize_boardURL": {
          "runAfter": {
            "Parse_JSON": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "boardURL",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_-_foundBoardId": {
          "runAfter": {
            "Initialize_boardURL": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "foundBoardId",
                "type": "string"
              }
            ]
          }
        },
        "Initialize_variable_-_index": {
          "runAfter": {
            "Initialize_variable_-_foundBoardId": [
              "Succeeded"
            ]
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "index",
                "type": "integer",
                "value": 0
              }
            ]
          }
        },
        "Delete_email_(V2)": {
          "runAfter": {
            "Create_event_(V4)": [
              "Succeeded"
            ]
          },
          "type": "OpenApiConnection",
          "inputs": {
            "parameters": {
              "messageId": "@triggerOutputs()?['body/id']"
            },
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365",
              "operationId": "DeleteEmail_V2",
              "connectionName": "shared_office365"
            }
          }
        }
      }
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}